---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Frontend Mentor Challenge">
  <section class="my-64">
    <div class="container">
      <h1>Frontend Mentor Challenge</h1>
    </div>
  </section>
</DefaultLayout>
