---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Frontend Mentor">
  <section class="margin-48">
    <div class="container space-content">
      <h1
        class="md:bg-red-500 text-bold text-lg font-bold from-neutral-800 md:text-md px-3 py-4 rounded-md text-center text-neutral-800 to-neutral-800"
      >
        Frontend Mentor Challenge <em>Starter</em>
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae,
        consequuntur iste totam ipsum natus dolorem ex voluptate! Quam saepe
        provident repudiandae dignissimos voluptas totam beatae excepturi soluta
        officiis natus? Exercitationem ea similique ipsam culpa, dolor officiis
        iste molestias fugit nisi amet doloremque eius vero repudiandae,
        molestiae ab quos maiores? Soluta, optio harum corrupti quasi nobis
        reiciendis dignissimos. Reprehenderit deleniti odio ipsam. Repudiandae,
        minus eaque assumenda perspiciatis nostrum dolor laborum, dicta
        consectetur voluptate distinctio corporis quae? Aliquid quo alias porro
        laudantium architecto distinctio nisi! Animi fugit, voluptatem
        voluptatum velit aspernatur asperiores quidem totam soluta itaque
        explicabo libero eveniet nobis, error autem!
      </p>
    </div>
  </section>
</DefaultLayout>

<script>
  console.log('Hello from the client!')
</script>
