<footer>
  <div class="padding-16">
    <div class="container align-center">
      <p class="size-12">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. 
        Coded by <a href="https://markteekman.nl">Mark Teekman</a>.
        Build with the <a href="https://github.com/markteekman/frontend-mentor-challenge-starter">Frontend Mentor Challenge Starter</a>.
      </p>
    </div>
  </div>
</footer>
