<footer>
  <div class="padding-16">
    <div class="container align-center">
      <p class="size-12">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://markteekman.nl">Mark Teekman</a>.
      </p>
    </div>
  </div>
</footer>
