---
import '../assets/scss/globals.scss'
import Footer from '../components/Footer.astro'

const { title } = Astro.props
let subtitle = 'PROJECT NAME'
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="PROJECT-URL/favicon.png">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

    <!-- open graph -->
    <meta property="og:title" content="PROJECT NAME">
    <meta property="og:description" content="PROJECT DESCRIPTION">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://markteekman.github.io/">
    <meta property="og:image" content="PROJECT-URL/social-preview-image.png">

    <!-- page title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body>
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  :root {
    // base colors
    --font-family-default: "Open Sans", sans-serif;
    --font-family-special: "Open Sans", sans-serif;
    --font-color: var(--neutral-900);
    --background: var(--neutral-100);
    --action-color: var(--secondary-500);
    // theme colors
    --color-light-cyan: hsl(193, 38%, 86%);
    --color-neon-green: hsl(150, 100%, 66%);
    --color-grayish-blue: hsl(217, 19%, 38%);
    --color-dark-grayish-blue: hsl(217, 19%, 24%);
    --color-dark-blue: hsl(218, 23%, 16%);
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);

    main {
      flex: 1 0 auto;
    }

    footer {
      flex-shrink: 0;
    }
  }
</style>
